.box{
    border: 1px solid;
}
.small{
    font-size: smaller;
}
.red{
    color:red;
}
.green{
    color: rgb(54, 170, 64);
}
.itemWrapper{
    margin:3rem
}
.code{
    background-color: rgb(119, 119, 119);
}